@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  @font-face {
    font-family: mokoto;
    src: url("../public/fonts/mokoto/Mokoto.ttf") format(".ttf");
  }
} */
body {
  color: white;
}

.animate-bg-gradient {
  background-size: 200% 100%;
  background-position: 100% 0%;

  transition: background-position 0.7s;
}

.animate-bg-gradient:hover {
  background-position: 0% 0%;
}

.button-gradient {
  @apply bg-gradient-to-r from-indigo-900 via-transparent to-indigo-900;
}

.radial-gradient {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #504bb9 0%,
    rgba(80, 75, 185, 0) 100%
  );
}
